<doctype! html>
<html>
  <head>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles.css"/>
  </head>
  <body ng-app="main">

    <div class="row">
      <header class="col-md-4" align="middle"><h1>San Francisco Murals</h1></header>
    </div>

    <div ng-controller="MuralController as muralCtrl">
      <div ng-controller="ImageController as imagesCtrl">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4" align="middle">
              <img class="ImageButtons" ng-click="imagesCtrl.selectImage(0)" ng-src="{{muralCtrl.mural[0].imageUrl}}">
              <img class="ImageButtons" ng-click="imagesCtrl.selectImage(1)" ng-src="{{muralCtrl.mural[1].imageUrl}}">
              <img class="ImageButtons" ng-click="imagesCtrl.selectImage(2)" ng-src="{{muralCtrl.mural[2].imageUrl}}">
              <img class="ImageButtons" ng-click="imagesCtrl.selectImage(3)" ng-src="{{muralCtrl.mural[3].imageUrl}}">
              <img class="ImageButtons" ng-click="imagesCtrl.selectImage(4)" ng-src="{{muralCtrl.mural[4].imageUrl}}">
              <img class="ImageButtons" ng-click="imagesCtrl.selectImage(5)" ng-src="{{muralCtrl.mural[5].imageUrl}}">
              <img class="ImageButtons" ng-click="imagesCtrl.selectImage(6)" ng-src="{{muralCtrl.mural[6].imageUrl}}">
              <img class="ImageButtons" ng-click="imagesCtrl.selectImage(7)" ng-src="{{muralCtrl.mural[7].imageUrl}}">
              <form name="imageForm" ng-controller="AddImageController as addCtrl" class="form-group" id="addImageButton" ng-submit="addCtrl.addImage(muralCtrl.mural)">
                <button type="button" class="btn btn-info" ng-click="addCtrl.showForm()">Add Image <span class="glyphicon glyphicon-collapse-down"></span></button>
                <div ng-show="addCtrl.show">
                  <input ng-model="addCtrl.addedImage.name" class="AddImage" placeholder="Name of Mural">
                  <input ng-model="addCtrl.addedImage.artist" class="AddImage" placeholder="Artist Name">
                  <input ng-model="addCtrl.addedImage.location" class="AddImage" placeholder="Location">
                  <input ng-model="addCtrl.addedImage.imageUrl" class="AddImage" placeholder="Add Image Url">
                  <button type="submit" class="btn btn-info AddImage">Submit <span class="glyphicon glyphicon-ok"></button>
                </div>
              </form>
            </div>

            <div class="col-md-8">
              <img class="MuralImages" ng-src="{{muralCtrl.mural[imagesCtrl.image].imageUrl}}">
              <div class="AboutImage">
                <div>{{muralCtrl.mural[imagesCtrl.image].name}}</div>
                <div>By: {{muralCtrl.mural[imagesCtrl.image].artist}}</div>
                <div>Location: {{muralCtrl.mural[imagesCtrl.image].location}}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-md-offset-4">
              <h4>Reviews</h4>
              <div class="CommentList" ng-repeat="review in muralCtrl.mural[imagesCtrl.image].reviews">
                <div class="AuthorRating">
                  {{review.author}}
                  <strong>{{review.rating}}</strong>
                </div>
                <div>{{review.comment}}</div>
              </div>
            </div>

            <div class="col-md-2">
              <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(muralCtrl.mural[imagesCtrl.image])">
                <div class="ReviewComments">
                  <div>
                    {{reviewCtrl.review.author}} 
                    <strong>{{reviewCtrl.review.rating}}</strong>
                  </div>
                  {{reviewCtrl.review.comment}}
                </div>
                <h4>Submit a Review</h4>
                <fieldset class="form-group">
                  <input id="nameForm" ng-model="reviewCtrl.review.author" class="form-control" placeholder="Name"/>
                  <select ng-model="reviewCtrl.review.rating" class="form-control" ng-options="stars for stars in [5,4,3,2,1]">
                    <option value>Rating</option>
                  </select>
                </fieldset>
                <!-- <fieldset class="form-group">
                </fieldset> -->
                <fieldset class="form-group">
                  <textarea ng-model="reviewCtrl.review.comment" class="form-control" placeholder="Product review"></textarea>
                </fieldset>
                <fieldset class="form-group">
                  <input type="submit" class="btn btn-info" value="Submit Review"/>
                </fieldset>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>