body {
	background-image: url(./grey-background.jpg)
}
* {
	font-family: Georgia;
}
/*header {
	-webkit-text-stroke: 0.5px white;
}*/

.ImageButtons {
	width: 80px;
	height: 80px;
	border: 3px solid #82CAFF;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
}

#addImageButton {
	margin-top: 20px;
}

.AddImage {
	margin: 5px 10px 5px 10px;
}

.MuralImages {
	max-width: 60%;
	max-height: 60%;
	float:left;
	border: 3px solid #82CAFF
}

.col-md-8 {
	padding: 0px 0px 0px 0px;
}

.AboutImage {
	float: left;
}

h1, h4 {
	color: #82CAFF;
}

.AboutImage > div {
	font-size: 1.5em;
	color: #82CAFF;
	margin-left: 50px;
	margin-bottom: 5px;
}

.CommentList {
	margin-top: 10px;
	background-color: #CDCDCD;
	border: 3px solid #595959;
	border-radius: 5px;
}

.AuthorRating {
	font-size: 120%;
}

.ReviewComments {
	font-size: 120%;
}

#nameForm {
	margin-bottom: 15px;
}

/*.btn {
	color: #82CAFF;
}*/